@charset "UTF-8";
@font-face {/* - FONTE CHERLY - */
	font-family: 'Cherly';
	src: url('../fontes/Cherly.otf')
	format('opentype');}
@font-face {/* - FONTE ARNITTA - */
    font-family: 'Arnitta';
    src: url('../fontes/Arnitta\ Callina.otf')
    format('opentype');}

:root{/* - VARIAVEIS - */
   --mainbackcolor:#883636;
	--secbackcolor:#FFCAB8;
	--titlefont:'Cherly', sans-serif;
	--sectitlefont:'Arnitta', sans-serif;}
*{/* - START - */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}

body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

header{
	display: flex;
	justify-content: center;
   	height: 140px;
   	background-color: black;
   	width: 100%;
}
#logo{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	height: fit-content;
	width: 300px;
	border-radius: 15px;
	margin: 10px;
}
#logoImage{
	width: 100px;
	height: 100px;
	filter: invert();
}
#logoDet{
	width: 100px;
	height: 100px;
	margin-right: -97px;
	filter: hue-rotate(30deg) brightness(90%) saturate(90%);
}
#mainTitle{
	font-family: var(--titlefont);
	font-size: 4em;
	font-weight: lighter;
	margin-top: -30px;
	margin-left: -10px;
	color: #a81a05;
}
#secTitle{
	font-family: var(--sectitlefont);
	font-size: 2em;
	font-weight: 100;
	margin-top: 40px;
	margin-left: -150px;
	color: var(--secbackcolor);
	color: white;
}
main{
   flex: 1;
   height: 100vh;
}


font-family: 'Cherly', sans-serif;
font-family: 'Arnitta', sans-serif;*/