@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    /*HERE*/
    #mainSlider{
        width: 100vw;
        height: 40vw;
        overflow-y: none;
        overflow-x: none;
    }
    .shopItens{
        max-width: 1200px;
    }
    #shopContainer{
        margin-top: -5vw;
    }
}

@media screen and (min-width: 1200px){
    body{
        min-height: 100px;
    }
    #mainSlider{
        height: 400PX;
        overflow-y: none;
        overflow-x: none;
    }
    .shopItens{
        max-width: 1450px;
    }
    #shopContainer{
        /*margin-top: -30vw;*/ /*OLDER FIX*/
    }
    .shopProduct{
        margin-top: 49.6px;
        margin-right: 24.8px;
        margin-left: 24.8px;
        width: 200px;
        height: 280px;
        border: 1px solid rgb(207, 207, 207);
    }
}