@charset "UTF-8";

*{/* - START - */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}

body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.frame1{
	background-image: url("../images/slides/mobile/slidea.jpg");
	background-size: cover;
	width: 100vw;
	height: 58vw;
}
.frame2{
	background-image: url("../images/slides/mobile/slideb.jpg");
	background-size: cover;
	width: 100vw;
	height: 58vw;
}
.frame3{
	background-image: url("../images/slides/mobile/slidec.jpg");
	background-size: cover;
	width: 100vw;
	height: 58vw;
}
.frame4{
	background-image: url("../images/slides/mobile/slided.jpg");
	background-size: cover;
	width: 100vw;
	height: 58vw;
}
#rightHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}
#rightHeader img{
	width: 50px;
	height: 30px;
	padding-right: 20px;
	transition: 1s;
}
#rightHeader img:hover{
	filter: invert();
	transition: .4s;
	cursor: pointer;
}
#leftHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
#leftHeader img{
	width: 50px;
	height: 30px;
	padding-left: 20px;
	transition: 1s;
}
#leftHeader img:hover{
	filter: invert();
	transition: .4s;
	cursor: pointer;
}
#logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 50px;
	cursor: pointer;
	transition: 1s;
}
#logo:hover #logoImage{
	width: 85px;
	height: 85px;
	transition: 1s;
}
#logoImage{
	width: 80px;
	height: 80px;
	margin-left: -45px;
	margin-top: -5px;
	transition: 1s;
	border-radius: 50px;
}
#mainTitle{
	font-family: var(--titlefont);
	font-size: 3em;
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: -20px;
}
#secTitle{
	font-family: var(--sectitlefont);
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 20px;
	margin-left: -112px;
	color: var(--secbackcolor);
}
main{
	flex: 1;
	height: 100vh;
	width: 100vw;
	background-color: rgb(255, 255, 255);
 }
#slider{
	margin: 0px auto;
	width: 100vw;
	height: 58vw;
	overflow: hidden;
	background-color: #883636;
}
#slider:after{
	width: 100%;
	height: 50px;
	background-color: #883636;
}
#slides{
	width: 400%;
	height: 350px;
	display: flex;
}
#slides input{
	display: none;
}
.slide{
	width: 25%;
	position: relative;
	transition: 2s;
}
.manual-navigation{/* NAVEGAÇÃO MANUAL */
	position: absolute;
	width: 100%;
	margin-top: 50vw;
	display: flex;
	justify-content: center;}
.manual-btn{
	border: 2px solid white;
	padding: .8vw;
	border-radius: 2vw;
	cursor: pointer;
	transition: .5s;}
.manual-btn:not(:last-child){margin-right: 4vw;}
.manual-btn:hover{background-color: white;}
#sliderbtn1:checked ~ .first{margin-left: 0;}
#sliderbtn2:checked ~ .first{margin-left: -25%;}
#sliderbtn3:checked ~ .first{margin-left: -50%;}
#sliderbtn4:checked ~ .first{margin-left: -75%;}
/* FIM DA NAVEGAÇÃO MANUAL */
.navigation-auto div{
	border: 2px solid white;
	padding: .8vw;
	border-radius: 2vw;
	cursor: pointer;
	transition: .5s;}
.navigation-auto{
	position: absolute;
	width: 100%;
	margin-top: 50vw;
	display: flex;
	justify-content: center;}
.navigation-auto div:not(:last-child){
	margin-right: 4vw;
}
#sliderbtn1:checked ~ .navigation-auto .auto-btn1{background-color: white;}
#sliderbtn2:checked ~ .navigation-auto .auto-btn2{background-color: white;}
#sliderbtn3:checked ~ .navigation-auto .auto-btn3{background-color: white;}
#sliderbtn4:checked ~ .navigation-auto .auto-btn4{background-color: white;}