@charset "UTF-8";
@font-face {/* - FONTE CHERLY - */
	font-family: 'Cherly';
	src: url('../fontes/Cherly.otf')
	format('opentype');}
@font-face {/* - FONTE ARNITTA - */
    font-family: 'Arnitta';
    src: url('../fontes/Arnitta\ Callina.otf')
    format('opentype');}
:root{/* - VARIAVEIS - */
   --mainbackcolor:#883636;
	--secbackcolor:#FFCAB8;
	--titlefont:'Cherly', sans-serif;
	--sectitlefont:'Arnitta', sans-serif;
	--maintext:Verdana, Geneva, Tahoma, sans-serif;}
*{/* - START - */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
html{
	/*overflow-x: none;*/}
	/*set to none*/
	/*https://www.freecodecamp.org/news/html-page-width-height/*/
body{
	width: 100%;
   min-height: 100vh;
   /*display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;*/
}

header{
	display: flex;
	justify-content: center;
   	height: 90px;
   	background-color: var(--mainbackcolor);
   	width: 100%;
}
#rightHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}
#rightHeader img{
	height: 100%;
	width: height;
	filter: invert();
	padding: 25px;
	transition: 1s;
}
#rightHeader img:hover{
	background-color: #FFCAB8;
	padding: 23px;
	filter: none;
	transition: .4s;
	cursor: pointer;
}
#leftHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
#leftHeader img{
	height: 100%;
	width: height;
	filter: invert();
	padding: 25px;
	transition: 1s;
}
#leftHeader img:hover{
	background-color: #FFCAB8;
	padding: 22px;
	filter: none;
	transition: .4s;
	cursor: pointer;
}
#logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 800px;
	cursor: pointer;
	transition: 1s;
}
#logo:hover #logoImage{
	width: 85px;
	height: 85px;
	transition: 1s;
}
#logoImage{
	width: 80px;
	height: 80px;
	margin-left: -70px;
	margin-top: -5px;
	transition: 1s;
	border-radius: 50px;
}
#mainTitle{
	font-family: var(--titlefont);
	font-size: 3em;
	font-weight: 100;
	margin-top: 48px;
	margin-bottom: 50px;
	margin-left: -20px;
	background-color: #FFCAB8;
	/*border: 1.5px dotted black;*/
	/*border: 3px double black;*/
	/*border: 4px double #883636;*/
	border: 8px double #883636;
	/*border: 2px dotted black;*/
	/*border: 2px dotted #883636;*/
	/*border: 2px dotted #883636;*/
	/*border: 4px outset #883636;*/
	border-radius: 0px 30px 0px 30px;
	color: #883636;

	padding-left: 5px;
	padding-right: 5px;
}
#secTitle{
	font-family: var(--sectitlefont);
	font-size: 1.5em;
	font-weight: 500;
	margin-top: 45px;
	margin-left: -125px;

	text-shadow: 0px 1px 1px #883636;
	/*color: var(--secbackcolor);*/
}
main{
	flex: 1;
	/*height: 100vh;*/
	/*height: 1000px;*/
	width: 100%;
	background-color: rgb(255, 255, 255);
 }
#mainSlider{
	width: 100%;
	height: 59vw; /*É AQUI?????????*/
	overflow-y: none;
	overflow-x: none;
}
#shopContainer{
	/*background-color: rgb(201, 185, 175);*/
}
.shopItens{
	/*background-color: rgb(205, 228, 236);*/
	margin: 0 auto 0 auto;
	max-width: 600px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.shopProduct{
	margin-top: calc(2vw + 25px);
	margin-right: calc(1.5vw + 10px);
	margin-left: calc(1.5vw + 10px);
	width: 200px;
	height: 280px;
	border: 1px solid rgb(233, 233, 233);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	transition: .1s;
}
.shopProduct:hover{
	cursor: pointer;
	outline: 4px solid var(--mainbackcolor);
	transition: .1s;
}
.shopProduct > img{
	display: block;
	width: 80%;
	padding: 20px 10px;
	margin: 0 auto auto auto;
	/*border-bottom: 1px solid rgb(233, 233, 233);*/
}
.descProduto{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.antigoProduto{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	text-align: center;
	text-decoration: line-through;
	color: gray;
	margin-bottom: -5px;
	font-size: .95em;
}
.nomeProduto{
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: var(--maintext);
	font-size: .9em;
	font-weight: 100;
	padding-left: 10px;
	padding-right: 10px;
}
.valorProduto{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
	padding-bottom: 5px;
}
footer{
	/*margin-left: 50px;*/
	font-family: var(--maintext);
	margin-top: 100px;
	height: 400px;
	width: 100%;
	background-color: #883636;
}