@charset "UTF-8";
@font-face {/* - FONTE CHERLY - */
	font-family: 'Cherly';
	src: url('../fontes/Cherly.otf')
	format('opentype');}
@font-face {/* - FONTE ARNITTA - */
    font-family: 'Arnitta';
    src: url('../fontes/Arnitta\ Callina.otf')
    format('opentype');}

:root{/* - VARIAVEIS - */
   --mainbackcolor:#883636;
	--secbackcolor:#FFCAB8;
	--titlefont:'Cherly', sans-serif;
	--sectitlefont:'Arnitta', sans-serif;}
*{/* - START - */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
html{
	overflow-x: hidden;
}
body{
   /*min-height: 100vh;*/
   height: 1200px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   
}

header{
	display: flex;
	justify-content: center;
   	height: 90px;
   	background-color: var(--mainbackcolor);
   	width: 100vw;
}
#rightHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}
#rightHeader img{
	width: 50px;
	height: 30px;
	padding-right: 20px;
	transition: 1s;
}
#rightHeader img:hover{
	filter: invert();
	transition: .4s;
	cursor: pointer;
}
#leftHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
#leftHeader img{
	width: 50px;
	height: 30px;
	padding-left: 20px;
	transition: 1s;
}
#leftHeader img:hover{
	filter: invert();
	transition: .4s;
	cursor: pointer;
}
#logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 50px;
	cursor: pointer;
	transition: 1s;
}
#logo:hover #logoImage{
	width: 85px;
	height: 85px;
	transition: 1s;
}
#logoImage{
	width: 80px;
	height: 80px;
	margin-left: -45px;
	margin-top: -5px;
	transition: 1s;
	border-radius: 50px;
}
#mainTitle{
	font-family: var(--titlefont);
	font-size: 3em;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: -20px;
}
#secTitle{
	font-family: var(--sectitlefont);
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 20px;
	margin-left: -112px;
	color: var(--secbackcolor);
}
main{
	flex: 1;
	height: 100vh;
	width: 100vw;
	background-color: rgb(255, 255, 255);
 }
#mainSlider{
	width: 100vw;
	height: 59vw;
	overflow-y: none;
	overflow-x: none;
}
#shopContainer{
	/*background-color: rgb(201, 185, 175);*/
}
.shopItens{
	/*background-color: rgb(205, 228, 236);*/
	margin: 0 auto 0 auto;
	max-width: 600px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.shopProduct{
	margin-top: 6vw;
	margin-right: 3vw;
	margin-left: 3vw;
	width: 180px;
	height: 250px;
	border: 1px solid rgb(207, 207, 207);
}